*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

#formulario{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-text{
margin: auto 20 px;     
font-size: 15 px;
color: blue;
font-family: 'Times New Roman', Times, serif;
}

.card{
    box-shadow: 10px 10px 5px #555;
    transition:cubic-bezier(1, 1,75, 0, 1)
}

.formulario{
    display: inline-block;

}




/* #2b55ca */
/* #399F29    */